<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @reminder.date %>
</p>

<p>
  <b>User:</b>
  <%= @reminder.user_id %>
</p>

<p>
  <b>Medication:</b>
  <%= @reminder.medication_id %>
</p>

<p>
  <b>Message:</b>
  <%= @reminder.message %>
</p>


<%= link_to 'Edit', edit_reminder_path(@reminder) %> |
<%= link_to 'Back', reminders_path %>
