@model MvcApplication2.Models.Reminder

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Reminder</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserMedicineMap.Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserMedicineMap.Id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RemindTime.RemindValue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RemindTime.RemindValue)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ResponseTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ResponseTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsTaken)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsTaken)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SnoozeId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SnoozeId)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
