@model MvcApplication2.Models.Reminder

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Reminder</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserMedicineMap.Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserMedicineMap.Id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RemindTime.RemindValue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RemindTime.RemindValue)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ResponseTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ResponseTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsTaken)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsTaken)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SnoozeId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SnoozeId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
