@model PillBox.Website.Models.ReminderQuestion

<fieldset>
    @Html.HiddenFor(model => model.Id)
    <legend>@Model.MedicineName</legend>
    <p>@Model.PrescriptionLine</p>
    @foreach (var surveyResponse in Model.SurveyResponses)
    {
        <div>
            @Html.RadioButtonFor(
                model => model.SurveyResponse, surveyResponse.Id) @surveyResponse.ResponseValue
        </div>
    }
</fieldset>
