
<div class="meds-list">
  <h3>My Meds</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Drug</th>
        <th>Dosage</th>
        <th>Frequency</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      <% @meds_array.each do |med|%>
        <tr>
          <td><%= @counter %></td>
          <td><%= med.name %></td>
          <td><%= med.drug %></td>
          <td><%= med.dosage_quant.to_s + " " + med.dosage_size %></td>
          <td><%= med.frequency.to_s + " " + med.period %></td>
          <td><%= med.notes %></td>
        </tr>
        <% @counter += 1 %>
      <% end %>
    </tbody>

  </table>

</div>