
<div class="reminders">
  <h3>Next Reminders</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Date</th>
        <th>Time</th>
        <th>Reminder</th>
        <th>Drug</th>
        <th>Note</th>
        <th>Send</th>
      </tr>
    </thead>
    <tbody>
      <% @reminder_array.take(3).each_with_index do |r, index|%>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= r.date.to_date == Date.today ? "Today" : r.date.localtime.strftime("%m/%d/%y") %></td>
          <td><%= r.date.localtime.strftime("%l:%M%p %Z") %></td>
          <td><%= r.message %></td>
          <td><%= r.medication.drug %></td>
          <td><%= r.medication.notes %></td>
          <td><a href="/send_email_reminder/<%= r.id.to_s %>" class="email_reminder btn btn-info btn-small">Email</a></td>
          <td><a href="/send_text_reminder/<%= r.id.to_s %>" class="text_reminder btn btn-success btn-small">Text </a></td>
        </tr>
      <% end %>
    </tbody>

  </table>

</div>