
<div class="reminders">
  <h3 >Reminders</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Date</th>
        <th>Time</th>
        <th>Reminder</th>
        <th>Drug</th>
        <th>Note</th>
      </tr>
    </thead>
    <tbody>
      <% @reminder_array.each_with_index do |r, index|%>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= r.date.to_date == Date.today ? "Today" : r.date.strftime("%m/%d/%y") %></td>
          <td><%= r.date.strftime("%l:%M%p %Z") %></td>
          <td><%= r.message %></td>
          <td><%= r.medication.drug %></td>
          <td><%= r.medication.notes %></td>
        </tr>
      <% end %>
    </tbody>

  </table>

</div>