
<div class="reminders">
  <h3>Next Reminders</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Reminder</th>
        <th>Drug</th>
        <th>Instructions</th>
        <th>Send</th>
      </tr>
    </thead>
    <tbody>
      <% @reminder_array.each_with_index do |r, index|%>
        <% if (r.date.to_date == Date.today) || (r.date.to_date == Date.tomorrow) %>
          <tr>
            <td><%= r.date.to_date == Date.today ? "Today" : "Tomorrow" %></td>
            <td><%= r.message %></td>
            <td><%= r.medication.drug %></td>
            <td><%= r.medication.notes %></td>
            <td><a href="/send_email_reminder/<%= r.id.to_s %>" class="email_reminder btn btn-info btn-small">Email</a></td>
            <td><a href="/send_text_reminder/<%= r.id.to_s %>" class="text_reminder btn btn-success btn-small">Text</a></td>
            <td><a href="/send_voice_reminder/<%= r.id.to_s %>" class="voice_reminder btn btn-danger btn-small">Voice</a></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>

  </table>

</div>