<% if current_user.name %>
<h1 class="pagination-centered"><%= current_user.name %>'s PillBox</h1>
<% else %>
<h1 class="pagination-centered">My PillBox</h1>
<% end %>

<br>

<%= render 'reminders' %>

<hr>

<%= render 'meds_list' %>

<hr>

<%= render 'coaches' %>

<hr>

<%= render 'buddies' %>