    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div id="header-container" class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar">Hello?</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/mypillbox" id="logo">PillBox</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="#contact">Reminders</a></li>
              <li><a href="#about">My Meds</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Add Med</a></li>
                  <li><a href="#">Add Coach</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Dependents</li>
                  <li><a href="#">My Dependents</a></li>
                  <li><a href="#">Create New Dependent</a></li>
                </ul>
              </li>
            </ul>
            <% if user_signed_in? %>
              <div class="pull-right user-header">
                <span class="user-name"><%= current_user.email %></span>
                <%= link_to("Log Out", destroy_user_session_path, :method => :delete) %>
              </div>
            <% else %>
              <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "navbar-form pull-right"}) do |f| %>
                <%= devise_error_messages! %>
                <%= f.email_field :email, :placeholder => "Email", :class => "header-form"%>
                <%= f.password_field :password, :placeholder => "Password", :class => "header-form"%>
                <%= f.submit "Sign in", :class => "btn" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
